<item>
  <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>
  <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>
  <guid isPermaLink="true"><%= escape(@data["id"] || "") %></guid>
  <title><%= activity_title(@data, Keyword.get(@feed_config, :post_title, %{})) %></title>
  <description><%= activity_description(@data) %></description>
  <content:encoded><![CDATA[<%= rss_content_encoded(@data) %>]]></content:encoded>
  <pubDate><%= to_rfc2822(@data["published"]) %></pubDate>
  <ostatus:conversation ref="<%= activity_context(@activity) %>">
    <%= activity_context(@activity) %>
  </ostatus:conversation>

  <link><%= escape(activity_link(@activity, @data) || "") %></link>

  <%= for tag <- Pleroma.Object.hashtags(@object) do %>
    <%= if tag && tag != "" do %>
      <category><%= tag %></category>
    <% end %>
  <% end %>

  <%= unless sensitive?(@data) do %>
    <%= with attachment when not is_nil(attachment) <- rss_enclosure_attachment(@data["attachment"]) do %>
      <enclosure url="<%= escape(attachment_href(attachment) || "") %>" type="<%= escape(attachment_type(attachment) || "application/octet-stream") %>" length="<%= attachment_size_positive(attachment) %>" />
    <% end %>
  <% end %>

  <%= for attachment <- @data["attachment"] || [] do %>
    <%= media_content_xml(attachment, sensitive?(@data)) %>
  <% end %>

  <%= if @data["inReplyTo"] do %>
    <thr:in-reply-to ref='<%= @data["inReplyTo"] %>' href='<%= get_href(@data["inReplyTo"]) %>'/>
  <% end %>
</item>
