<entry>
  <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>
  <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>

    <%= render Phoenix.Controller.view_module(@conn), "_tag_author.atom", assigns %>

  <id><%= escape(@data["id"] || "") %></id>
  <title><%= activity_title(@data, Keyword.get(@feed_config, :post_title, %{})) %></title>
  <content type="html"><%= escape(atom_content_encoded(@data)) %></content>
  <published><%= to_rfc3339(@data["published"]) %></published>
  <updated><%= to_rfc3339(@data["published"]) %></updated>
  <ostatus:conversation ref="<%= activity_context(@activity) %>">
    <%= activity_context(@activity) %>
  </ostatus:conversation>
  <link href="<%= activity_context(@activity) %>" rel="ostatus:conversation"/>

  <%= if @data["summary"] != "" do %>
    <summary><%= escape(@data["summary"]) %></summary>
  <% end %>

  <link type="text/html" href='<%= escape(activity_link(@activity, @data) || "") %>' rel="alternate"/>

  <%= for tag <- Pleroma.Object.hashtags(@object) do %>
    <category term="<%= tag %>"></category>
  <% end %>

  <%= unless sensitive?(@data) do %>
    <%= for attachment <- @data["attachment"] || [] do %>
      <%= if size = attachment_size_positive(attachment) do %>
        <link rel="enclosure" href="<%= escape(attachment_href(attachment) || "") %>" type="<%= escape(attachment_type(attachment) || "application/octet-stream") %>" length="<%= size %>"/>
      <% else %>
        <link rel="enclosure" href="<%= escape(attachment_href(attachment) || "") %>" type="<%= escape(attachment_type(attachment) || "application/octet-stream") %>"/>
      <% end %>
    <% end %>
  <% end %>

  <%= for {emoji, file} <- @data["emoji"] || %{} do %>
    <link name="<%= emoji %>" rel="emoji" href="<%= file %>"/>
  <% end %>
</entry>
