<entry>
  <activity:object-type>http://activitystrea.ms/schema/1.0/note</activity:object-type>
  <activity:verb>http://activitystrea.ms/schema/1.0/post</activity:verb>

    <%= render Phoenix.Controller.view_module(@conn), "_tag_author.atom", assigns %>

  <id><%= @data["id"] %></id>
  <title><%= activity_title(@data, Keyword.get(@feed_config, :post_title, %{})) %></title>
  <content type="html"><%= escape(atom_content_encoded(@data)) %></content>
  <published><%= to_rfc3339(@data["published"]) %></published>
  <updated><%= to_rfc3339(@data["published"]) %></updated>
  <ostatus:conversation ref="<%= activity_context(@activity) %>">
    <%= activity_context(@activity) %>
  </ostatus:conversation>
  <link href="<%= activity_context(@activity) %>" rel="ostatus:conversation"/>

  <%= if @data["summary"] != "" do %>
    <summary><%= escape(@data["summary"]) %></summary>
  <% end %>

  <link type="application/atom+xml" href='<%= activity_link(@activity, @data) %>' rel="self"/>
  <link type="text/html" href='<%= activity_link(@activity, @data) %>' rel="alternate"/>

  <%= for tag <- Pleroma.Object.hashtags(@object) do %>
    <category term="<%= tag %>"></category>
  <% end %>

  <%= for attachment <- @data["attachment"] || [] do %>
    <%= unless attachment_previewable?(attachment) do %>
      <link rel="enclosure" href="<%= attachment_href(attachment) %>" type="<%= attachment_type(attachment) %>" length="<%= attachment_size(attachment) %>"/>
    <% end %>
  <% end %>

  <%= for {emoji, file} <- @data["emoji"] || %{} do %>
    <link name="<%= emoji %>" rel="emoji" href="<%= file %>"/>
  <% end %>
</entry>
